In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime, timedelta
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
google_trends_nike_adidas = pd.read_csv("Data/google_trends_nike_adidas.csv", skiprows=2)
google_trends_nike_adidas

         Semana  nike: (Todo el mundo)  adidas: (Todo el mundo)
0    2015-08-02                     51                       27
1    2015-08-09                     52                       27
2    2015-08-16                     52                       29
3    2015-08-23                     53                       29
4    2015-08-30                     52                       29
..          ...                    ...                      ...
256  2020-06-28                     61                       30
257  2020-07-05                     59                       29
258  2020-07-12                     59                       30
259  2020-07-19                     61                       30
260  2020-07-26                     61                       31

[261 rows x 3 columns]

In [20]:
#Renaming columns
google_trends_nike_adidas.rename(columns = {'Semana':'Date', 
                                   'nike: (Todo el mundo)': 'Nike', 
                                    'adidas: (Todo el mundo)': 'Adidas' }, inplace=True)
google_trends_nike_adidas.columns

Index(['Date', 'Nike', 'Adidas'], dtype='object')

In [21]:
google_trends_nike_adidas.head()

         Date  Nike  Adidas
0  2015-08-02    51      27
1  2015-08-09    52      27
2  2015-08-16    52      29
3  2015-08-23    53      29
4  2015-08-30    52      29

In [22]:
#Exporting dataset
google_trends_nike_adidas.to_csv("Data/nike_adidas_googletrends_clean_dataset.csv")